.about{
    background-color: #484283;
}

.heading {
    font-family: 'Jost';
    color: #FFFFFF;
    font-weight: 700;
    font-size: 30px;
    line-height: 43px;
}

.text{
    font-family: 'Jost';
    font-weight: 600;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 140%;
}