.selection {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #FFF4EE;
    border-radius: 4px;

    padding: 9px 20px 20px 20px;
    max-width: 280px;
}

.title {
    margin: 0;
    font-family: 'Jost';
    color: #444B58;
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
}

.text {
    margin: 0;
    font-family: 'Jost';
    color: #444B58;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;

    padding-top: 25px;
    padding-bottom: 3px;
}

.category__list {
    margin: 0;
    padding: 0;
    margin-top: 3px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 32px;
}

.form {
    display: flex;
    flex-direction: column;

}

.category__item {
    list-style-type: none;

    color: #444B58;
    font-family: 'Jost';
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    border: 1px solid #DBBBA9;


    text-align: center;
    padding-top: 28px;
    padding-bottom: 24px;


}


.reset {
    margin-top: 30px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


@media screen and (min-width: 480px) {
    .selection {
        max-width: 400px;
    }

    .category__list {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 32px;
    }


}


@media screen and (min-width: 768px) {
    .selection {
        max-width: 280px;
    }

    .category__list {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 32px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    .selection {
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: #FFF4EE;
        border-radius: 4px;

        padding: 9px 20px 20px 20px;
        max-width: 280px;
        width: 100%;
    }

}