.button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;

    text-decoration: none;
    color: #ffffff;

    padding: 12px 23px;
    background-color: #F14F4F;
    border-radius: 4px;

    display: flex;
    max-width: max-content;
    text-align: center;
    align-self: center;

    font-family: 'Jost';
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    transition: 0.3s ease-in-out;
}

.button:hover {
    background-color: #CC4949;
}

@media screen and (min-width: 768px) {
    .button {
        padding: 22px 47px;
    }
}