.header {
    background-color: #484283;
    width: 100%;
}

.logo {
    width: 100%;
    max-width: 181px;
    height: 40px;
    padding-top: 15px;
    padding-bottom: 9px;
}

.links {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 20px;
}

.link {
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Jost";
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    transition: .3 ease-in-out;
}

.link:hover {
    opacity: 0.5;
}

.nav {
    display: flex;
}

.cart {
    display: flex;
    align-items: center;
    gap: 12px;
}

.cart__logo {
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 0 10px;
    margin: 0 auto;
    max-width: 1180px;

    border-bottom: 1px solid #ffffff;
}


@media screen and (min-width: 480px) {
    .container {
        padding: 0 16px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        padding: 0 20px;
        flex-direction: row;
    }

    .nav {}

    .cart {
        gap: 37px;
    }

    .links {
        justify-content: center;
        padding-top: 15px;
        padding-right: 15px;
        padding-left: 15px;
        gap: 15px;

    }

}

@media screen and (min-width: 1440px) {

    .container {
        padding: 0;
    }

    .nav {
        gap: 57px;
    }

    .cart {
        gap: 37px;
    }

    .links {
        padding-right: 0px;
        padding-left: 0px;
        gap: 36px;
    }


    .link {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }

    .logo {
        width: 100%;
        max-width: 181px;
        height: 40px;
        padding-top: 15px;
        padding-bottom: 9px;
    }
}