.title{
    color: #444B58;
    font-family: "Jost";
    font-weight: 700;
    font-size: 30px;
    line-height: 43px;
}

.container {
    padding: 0 10px;
    margin: 0 auto;
    max-width: 1180px;

    margin-top: 54px;
}


.category__list {
    display: flex; 
    flex-direction: column;
    gap: 31px;
}
@media screen and (min-width: 480px) {
    .container {
        padding: 0 16px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        padding: 0 20px;
    }

}

@media screen and (min-width: 1440px) {

    .container {
        padding: 0;
    }
}
