.heading{
    color: #444B58;
    font-family: 'Jost';
    font-weight: 700;
    font-size: 30px;
    line-height: 43px;
}

.subtitle {
    color: #808080;
    font-family: 'Jost';
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
}

.question{
    font-family: 'Jost';
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
}

.counter{
    color: #808080;
    font-family: 'Jost';
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;

}

.container {
    padding: 0 10px;
    margin: 0 auto;
    max-width: 1180px;
}

@media screen and (min-width: 480px) {
    .container {
        padding: 0 16px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        padding: 0 20px;
    }

}

@media screen and (min-width: 1440px) {

    .container {
        padding: 0;
    }
}