.hero {
    background-color: #484283;
    background-image: url(../../shared/assets/images/hero_background.png);
    background-repeat: no-repeat;
    background-position: center bottom 70px;
}

.title {
    color: #ffffff;
    padding-top: 100px;
    font-family: 'Jost';
    font-weight: 500;
    font-size: 36px;
    line-height: 140%;
}

.text {
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: 'Jost';
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
}


.button {
    text-decoration: none;
    color: #ffffff;

    padding: 22px 47px;
    background-color: #F14F4F;
    border-radius: 4px;

    display: flex;
    max-width: max-content;
    text-align: center;

    font-family: 'Jost';
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
}

.container {
    padding: 0 10px;
    margin: 0 auto;
    max-width: 1180px;

    padding-bottom: 93px;
}

@media screen and (min-width: 480px) {
    .container {
        padding: 0 16px;
        padding-bottom: 93px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        padding: 0 20px;
        padding-bottom: 93px;
    }

}

@media screen and (min-width: 1440px) {

    .container {
        padding: 0;
        padding-bottom: 93px;
    }

    .title {
        padding-top: 100px;
    }


    .text {
        padding-top: 20px;
        padding-bottom: 40px;
    }
}