.header {
    background-color: #484283;
    width: 100%;
}

.logo {
    width: 100%;
    max-width: 181px;
    height: 40px;
    padding-top: 15px;
    padding-bottom: 9px;
}

.link {
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Jost";
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    transition: .3 ease-in-out;
}

.link:hover {
    opacity: 0.5;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 0 10px;
    margin: 0 auto;
    max-width: 1180px;
}


@media screen and (min-width: 480px) {
    .container {
        padding: 0 16px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        padding: 0 20px;
        flex-direction: row;
    }
}

@media screen and (min-width: 1440px) {

    .container {
        padding: 0;
    }

    .link {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }

    .logo {
        width: 100%;
        max-width: 181px;
        height: 40px;
        padding-top: 15px;
        padding-bottom: 9px;
    }
}